#NavBar {
   .Nav_container {
      ul {
         width: 100vw;
         background: rgba(255, 255, 255, 0.2);
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         backdrop-filter: blur(5px);
         -webkit-backdrop-filter: blur(5px);
         display: flex;
         flex-direction: row;
         gap: 13px;
         padding: 20px 30px;
         font-size: 14px;

         li {
            width: 250px;
            list-style: none;
            color: aliceblue;
            font-weight: bold;
            word-spacing: 2px;
            text-transform: capitalize;
            cursor: pointer;

            svg {
               padding-right: 10px;
               color: red;
               font-size: 30px;
            }
         }
      }
   }
}