.Main_warpper {
   padding: 25px 50px !important;
}

.Music_list {
   display: flex;
   flex-direction: row;
   gap: 2rem 4rem;
   flex-wrap: wrap;
   cursor: pointer;
}

.List_Image {
   width: 200px !important;
   height: 200px !important;
   border-radius: 20px !important;
   object-fit: cover;
}

.List_name {
   padding: 10px;
   font-size: 20px;
   font-weight: lighter;
   color: #fff;
   text-align: center;
   letter-spacing: 1px;
}